.home {
  min-height: 100vh;
  background-image: url(./punch-chowder-plainBG1.png);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.home__main-container {
  width: 50%;
}

.home__sub-container {
  padding: 5% 5%;
  border-radius: 20px;
  margin-top: 30%;
}

.home__sub-container button {
  font-size: 1.5rem;
  font-weight: bolder;
  background-color: gold;
  color: black;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
}
