.season-select {
      min-height: 100vh;
  background-image: url(./unleash-the-flavor.png);
    background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-around;
}