.watch {
  min-height: 100vh;
  background-image: url(./RotTMNT\ nBG1.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.watch__main-container {
    margin-top: 3%;
    color: white;
    width: 75%;
}

.watch__controls {
        display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.watch__controls button {
      font-size: 1rem;
  font-weight: bolder;
  background-color: gold;
  color: black;
  padding: 10px;
  margin-top: 15px;
  border-radius: 10px;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
}

.watch__controls button:focus {
  outline: none;
}

.frame-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

#ifrm {
      position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}